
  <article 
    class="intro-container bg-cover txt-white flex-vertical pos-fixed w-100 vh-100 flex-h-center"
    ng-class="{'align-bottom': winTop > 0}">
    <section class="flex-h-center flex-v-center" style="flex:1">
      <div class="wrapper txt-center" >
        <a href="https://ca.linkedin.com/in/allenhwkim"><img src="images/social/facebook.png" /></a>
        <a href="https://twitter.com/bighostkim"><img src="images/social/twitter.png" /></a>
        <a href="https://github.com/allenhwkim"><img src="images/social/github.png" /></a>
        <a href="https://ca.linkedin.com/in/allenhwkim"><img src="images/social/linkedin.png" /></a>
      </div>
    </section>
    <section class="flex-h-center clearfix">
      <i class="fa fa-chevron-down fa-2x"></i>
    </section>
  </article>
  <div class="vh-100" style="width:1px"><!-- filler for intro-container --></div>

  <article class="main-container bg-white">
    <div ng-repeat="post in posts">
      <section class="vh-50 txt-center flex-h-center flex-v-center">
        <div class="wrapper">
          <h1>{{post.title}}</h1>
          <p ng-bind="post.summary"></p>
          <a href="/{{post.path}}">More</a> 
        </div>
      </section>
      <div class="vh-50 bg-cover" style="background-image:url(images/nature{{$index}}.jpg)"></div>
    </div>
  </article>

