// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media (min-width: 767px) {
  ion-menu {  /* always show menu */
    display: block;
  }

  .menu-inner {  /* always show menu */
    transform: translateX(0px) !important;
  }

  ion-nav.menu-content { /* always show menu content */
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    transform: translateX(304px) !important;
  }

  .ion-page { /* recalculate page contents width deducted by menu width */
    width: calc(100% - 304px);
  }

  button[menutoggle] { /* hide all non-working menu buttons */
    display: none;
  }
}
